.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }

.image {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.left-arrow, .right-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.left-arrow {
    left: 25px;
}

.right-arrow {
    right: 25px;
}
