/* App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px; /* Para que o conteúdo não fique atrás da navbar */
}

.content {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}
